!!! 5
%html{:lang => "pt"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "keywords", :content => ""}
    %meta{:name => "description", :content => ""}

    %title= yield(:title) + "Titulo aqui"

    %link{:href => "/favicon.ico", :rel => "shortcut icon"}
    = yield(:header_tags)

    = stylesheet_link_tag "application", :type => nil, :media => "all"
    = javascript_include_tag "application", :type => nil, "data-turbolinks-track" => true
    = csrf_meta_tags

    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}

    :plain
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'XXXXX-XXXX']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>

  %body{:id => controller.controller_name}
    #wrap
      %header
        #masthead
          /- if current_user
          /  %p
          /    = "Bem-vindo <strong>#{current_user.name}</strong> &bull; ".html_safe
          /    = link_to "Sair", logout_path
          /- else
          /  %p
          /    = link_to "Acesse com Facebook", "/auth/facebook", :id => "facebook-connect"

        #logo<
          = link_to "Logo", "/"
        = render 'flash_messages'

      .holder
        %section{:role => "main"}
          = yield

        - if content_for?(:sidebar)
          %aside
            = yield(:sidebar)

      %footer
        %p
          = "Copyright &copy; #{Time.zone.now.year} App".html_safe
